<div ng-controller="layoutController as $ctrl">

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      
    <div class="btn-group w-100" role="group">
      <div class="btn-group w-50" role="group" ng-show='$ctrl.appNumber'>
        <h4  class="p-3 text-white appNumber"><span class="hash">#</span>{{$ctrl.appNumber}}</h4>
       
      </div>
      <div class="btn-group w-25 head-logo" role="group">
        <h4 class='p-3'><a href="" class="bold">UBank</a></h4>
      </div>
      <div class="btn-group p-3 pl-4 w-75 text-white" role="group">
        <h4>Application Form</h4>
      </div>   

    </div>
  

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto" style='opacity:0'>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
       
      </ul>

    </div> 
  </nav>

  <div class="container-fluid " ng-controller="layoutController as vm">
    <div ui-view class="col-sm-12 col-md-12 col-lg-12 mt-4"></div>
  </div>

</div>
