
/***
----------------------------------------------------------
----------------------------------------------------------
global.variables.scss from here
***/
//$body-color:    $gray-dark !default;
$font-weight-bold: bold !default;
$btn-font-weight: $font-weight-bold !default;

// awesome fonts path
$fa-font-path: './fonts';

body{
    #something1212{
        display: block;
    }
}
