//@import "compass/css3";
@import '_mixins';
@import '_presets';
@import '_preloader';
//----------------------------
// @layout.scss
//----------------------------
///mobile responsive overites

@media (max-width: 668px) {
    application {
        .input-group {
            @include reset_mar();
            @include reset_pad();
        }
        select{

        }
        input {
            @include reset_mar();
           
            &[name="homePhonePre"],
            &[name="mobilePre"],
            &[name="workPhonePre"] {
                padding-left: .25rem!important;
                padding-right: .25rem!important;
            }
        }

        h5 {
            font-size: 18px;
            span {
                display: block;
            }
        }
    }
}

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    .appNumber {
        margin-left: -13px;
        color: #999!important;
        span.hash {
            opacity: 0.5;
            font-size: 19px;
        }
    }
    .head-logo {}
    a {
        color: #fff;
    }
    &.navbar {}
    .lists-menu-group {
        >button {
            &:hover {
                @include reset-button();
            }
            @include reset-button();
        }
    }
}

welcome {
    form.app-welcome-form {
        .form-control-feedback {
            position: absolute;
            font-size: 13px;
        }
        .form-group {
            @include preloader();
        }
    }
}

application {
    form#application-form {
        .form-group,
        .input-group {
            @include preloader(); //overite
            span#preloader {
                position: static!important;
            }
        }
        h5 {
            color: #777!important;
        }
        .input-group .form-control:not(:last-child) {
            border-radius: .25rem!important;
        }
        #ducument-information {
            .input-group {
                position: relative;
                padding-bottom: 22px;
                .custom-file {
                    overflow: hidden;
                }
                small.upload-file-text {
                    color: #bbb!important;
                    position: absolute;
                    bottom: 0px;
                }
                img {
                    &.uploadimg {
                        max-width: 50px!important;
                        border: 1px solid #fff;
                    }
                }
            }
        }
        .input-group,
        .input-group-select {
            position: relative;
            span.required {
                color: red;
                font-size: 15px;
                position: absolute;
                display: block;
                top: 1px;
                right: 4px;
                z-index: 2;
            }
        }
        .hide {
            display: none;
        }
        div.form-group {
            label.section-label {
                justify-content: left;
                text-align: left;
            }
        }
    }
}

terms {
    .form-group {
        @include preloader(); //overite
        span#preloader {
            position: static!important;
        }
    }
}

// STICLY FOOTER  
.angular-app-include {
    min-height: 100%;
    margin-bottom: -52px!important;
    &:after {
        content: "";
        display: block;
    }
}

footer {
    p {
        line-height: 15px;
        font-size: 11px;
    }
    height: 35px;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #ccc;
    &:after {
        height: 35px;
    }
}